extends layout

block content
 body
    .top-container
      
      h1
        | I am 
        span.me Satwik
      p
        h4.span.deg A developer
      
    .middle-container
      
      h4.photo working as Machine Learning Intern at ForeignAdmits
    .botton-container
      
      h2
        span.awd Awards and honours
      table.table
        tbody
          tr
            th Date:
            th Award:
            th Domain:
          tr
            td February 2020
            td AICTE Chhatra Viswakarma Award
            td Agriculture
          tr
            td January 2020
            td Smart India Hackathon
            td Defence
    .skills
     
      h2
        span.skl Skills
      table.table_skills
        tbody
          tr
            th Skill
            th Profiency
          tr
            td Artificial Intelligence
            td Advance
          tr
            td Machine learning
            td Advanced
          tr
            td Ethical Hacking
            td Intermediate
          tr
            td Full Stack Development
            td Begineer
          tr
            td Backend Development
            td Intermediate
