extends layout

block content
 .jumbotron
      .container
        h1 #{title}
        p
          |  In this section i have displayed my projects, Hi i am Satwik Mohanty .
        p
          a.btn.btn-primary.btn-lg(href='#', role='button') Learn more »
    .container
      .row
        .col-md-4
          h2 J.A.R.V.I.S
          p
            | My Home Automation Project that manages all the activities of the home starting to waking you up to make you sleep.
          p
            a.btn.btn-default(href='#', role='button') View details »
        .col-md-4
          h2 Self driven Car
          p
            | This is a autonomus car that deals with changing the way according to road followed by identifying the road signs
          p
            a.btn.btn-default(href='#', role='button') View details »
        .col-md-4
          h2 Agrotech
          p
            | This is one of the award winning projects that provides complete solution in agriculture.
          p
            a.btn.btn-default(href='#', role='button') View details »