
extends layout
  
    meta(charset='utf-8')
    link(rel='stylesheet' href='style.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Sofia')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Amatic SC')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Finger Paint')
    title
  body
    .top-container
      img.cld(src='cloud.png' alt='cloud image')
      h1
        | I am 
        span.me Satwik
      p
        span.deg a developer
      img.cloud(src='cloud.png' alt='cloud image')
      img.mountain(src='mountain.png' alt='mountain image')
    .middle-container
      img.profile(src='pc.png' alt='profile picture')
      h1.photo Machine Learning Intern at ForeignAdmits
    .botton-container
      img.award(src='medal.jpg' alt='trophy')
      h2
        span.awd Awards and honours
      table.table
        tbody
          tr
            th Date:
            th Award:
            th Domain:
          tr
            td February 2020
            td AICTE Chhatra Viswakarma Award
            td Agriculture
          tr
            td January 2020
            td Smart India Hackathon
            td Defence
    .skills
      img.skill(src='skills.png' alt='skill')
      h2
        span.skl Skills
      table.table_skills
        tbody
          tr
            th Skill
            th Profiency
          tr
            td Artificial Intelligence
            td Advance
          tr
            td Machine learning
            td Advanced
          tr
            td Ethical Hacking
            td Intermediate
          tr
            td Full Stack Development
            td Begineer
          tr
            td Backend Development
            td Intermediate
