doctype html
html
  head
    meta(charset='utf-8')
    title "My Portfolio"
  body
    table
      tbody
        tr
          td
            img(src='pic.jpg' height='200' width='140')
          td
            h1
              b Satwik Mohanty
            p
              i  Machine Learning and DataScience Intern at Foreign Admits
    h2 Biography
    p
      | I am a tech lover, basically interested in stuff related to Artificial Intelligence, Basically an Iron Man Fan 
      br
      |                         I dream of buildiing a J.A.R.V.I.S, F.R.I.D.A.Y and a armour someday. I contineously acquire new knowledge and contineously learning new stuff.
    h2 Technological Aspects:
    p
      | Basically I am mostly into Machine Learning and Artificial Intelligence but i also know the following technologies.
    ul
      li
        | Full Stack Development
      li
        | Android App Development
      li
        | Ethical Hacking
    h2
      b Accomplishments:
    table
      tbody
        tr
          th Date:
          th Award:
          th Domain:
        tr
          td February 2020
          td AICTE Chhatra Viswakarma Award
          td Agriculture
        tr
          td January 2020
          td Smart India Hackathon
          td Defence
    h2
      b Work Experience:
    table
      tbody
        tr
          th Date:
          th Company:
          th Domain:
        tr
          td July 2020
          td Foreign Admits
          td IT
        tr
          td May 2019
          td Schenider Electric
          td Core
    h2 Skills:
    table
      tbody
        tr
          th Skill
          th Profiency
        tr
          td Artificial Intelligence
          td * * * * * 
        tr
          td Web Development
          td *
        tr
          td Ethical Hacking
          td * * * *
